* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#body {
    position: relative;
    min-height: 100%;
}





footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}